
[reference]

reference_prefix = chr21-GRCh38

[inputs]

# if the files exist and are available, specify the file path or urls here

forward = /stash2/user/wpoehlm/OSG_GEM_Experiments/Test_Data/Test_data/TEST_1.fastq.gz
reverse = /stash2/user/wpoehlm/OSG_GEM_Experiments/Test_Data/Test_data/TEST_2.fastq.gz

[config]

# process using TopHat2
tophat2 = False

# process using Hisat2
hisat2 = True

# process using Cufflinks

cufflinks = False

# process using StringTie

stringtie = True

